* {

    padding: 0px;
    margin:0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: "roboto";
}

.form-container {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 30vh;
    width: 300px;
    height: 400px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.form-container input{
    padding: 5%;
}






